<div class="user-like-details">
  {{!-- for header img --}}
</div>
<div class="title">
  <img src="{{userProfile.photo}}" alt="">
  <div class="ml-2">
    <a href="/{{userProfile.username}}">
      <h1>{{userProfile.username}}</h1>
    </a>
    <h4>Liked Recipes</h4>
  </div>
</div>
<div class="flex-container">
  {{#each recipes}}
  <div class="each-recipe">
    <a href="/recipe/{{_id}}">
      <img src="{{image}}">
      <p>{{title}}</p>
    </a>
  </div>
  {{/each}}
</div>