<div class="recipe-details-header">
  {{!-- for header img --}}
</div>
{{#if userProfile}}
<div class="container-fluid recipe-layout-container">

  <div class="recipe-layout-top row">
    {{#unless diferentUser}}
    <div class="col-12 d-flex justify-content-end">
      <a class="btn btn-outline-info" href="/user/edit/{{userProfile.username}}"> &#9998; Edit Profile</a>
      <a class="btn btn-outline-danger" href="/user/delete/{{userProfile._id}}"> &#10060; Delete Account</a>
    </div>
    {{/unless}}


    <div class="recipe-img-container col-md-4">
      <img src="{{userProfile.photo}}" alt="user-photo" class="recipe-img">
    </div>

    <div class="recipe-layout-right col-md-8">

      <div class="row">
        <div class="col-12">
          <h1>{{userProfile.username}}</h1>
        </div>
        {{#if loggedIn}}
        {{#if diferentUser}}
        {{#if isFollowing}}
        <div class="recipe-lines col-12">
          <button class="dish-tag-1" id="follow-button">
            <span id="follow-span">Following</span>
          </button>
        </div>
        {{else}}
        <div class="recipe-lines col-12">
          <button class="dish-tag-1" id="follow-button">
            <span id="follow-span">Follow</span>
          </button>
        </div>
        {{/if}}
        {{/if}}
        {{/if}}


        <div class="recipe-lines col-lg-3">
          {{!-- <a href="/recipes/user/{{userRecipes._id}}"> --}}
          <span id="dish-tag-1">User Recipes: {{userRecipes.length}}</span>
          {{!-- </a> --}}
        </div>

        <div class="recipe-lines col-lg-3">
          {{!-- <a href="/recipes/likes/{{userProfile._id}}"> --}}
          <span id="dish-tag-1">Liked Recipes: {{userProfile.likedRecipes.length}}</span>
          {{!-- </a> --}}
        </div>

        {{!-- <div class="recipe-lines col-lg-3">
          <a href="/recipes/followers/{{userProfile.followers}}">
            <span id="dish-tag-2">Followers: {{userProfile.followers.length}}</span>
          </a>
        </div> --}}

        <div class="recipe-lines col-lg-3">
          {{!-- <a href="/recipes/following/{{userProfile._id}}"> --}}
          <span id="dish-tag-3">Following: {{userProfile.following.length}}</span>
          {{!-- </a> --}}
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="form-row recipe-layout-bottom">
    <div class="col-md-12">
      <div class="col-12 d-flex align-items-center">
        <h1 class="col-10">User Recipes</h1>
        <div class="col-2 d-flex justify-content-end">
          <a class="btn btn-outline-info" href="/recipes/{{userProfile.username}}">See All</a>
        </div>
      </div>
      <div class="flex-container">
        {{#each userRecipes}}
        <div class="each-recipe">
          <a href="recipe/{{_id}}">
            <img src="{{image}}">
            <p>{{title}}</p>
          </a>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-12 d-flex align-items-center">
        <h1 class="col-10">Liked Recipes</h1>
        <div class="col-2 d-flex justify-content-end">
          <a class="btn btn-outline-info" href="/likes/{{userProfile.username}}">See All</a>
        </div>
      </div>
      <div class="flex-container">
        {{#each userProfile.likedRecipes}}
        <div class="each-recipe">
          <a href="recipe/{{this._id}}">
            <img src="{{this.image}}">
            <p>{{this.title}}</p>
          </a>
        </div>
        {{/each}}
      </div>
    </div>


    <div class="col-md-12">
      <div class="col-12 d-flex align-items-center">
        <h1 class="col-10">Following</h1>
        <div class="col-2 d-flex justify-content-end">
          <a class="btn btn-outline-info" href="/following/{{userProfile.username}}">See All</a>
        </div>
      </div>
      <div class="flex-container">
        {{#each userProfile.following}}
        <div class="each-recipe">
          <a href="/{{username}}">
            <img src="{{photo}}">
            <p>{{username}}</p>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/if}}

<script>
  let followButton = document.getElementById('follow-button');
  let followspan = document.getElementById('follow-span');
  followButton.onclick = event => {
    event.preventDefault(); // prevents the default behaviour of the form
    axios.post("/follow/{{userProfile._id}}").then(response => {
      if (response.data) {
        followspan.innerHTML = "Following";
      } else {
        followspan.innerHTML = "Follow";
        return;
      }
    }).catch(err => {
      console.log(err);
    })
  }
</script>