<div class="profile-header">
  {{!-- for header img --}}
</div>
{{#if userProfile}}
<div class="container-fluid recipe-layout-container">

  <div class="recipe-layout-top row">

    <div class="user-img-container col-md-5">
      <img src="{{userProfile.photo}}" alt="user-photo" class="user-img">
      {{#unless diferentUser}}
      <form action="/{{userProfile._id}}/edit" method="POST" enctype="multipart/form-data">
        <input id="image" type="file" name="imagePath" style="font-size: 10px; margin-top: 20px">
        <button class="btn btn-outline-info btn-sm">Edit Photo</button>
      </form>
      {{/unless}}
    </div>

    <div class="col-md-7 user-title">
      <div class="row align-items-center">
        <h1 style="margin: 4vh 3vw 4vh 0;">{{userProfile.username}}</h1>
        {{#if loggedIn}}
        {{#if diferentUser}}
        {{#if isFollowing}}
        <button class="btn btn-danger" id="follow-button">
          <span id="follow-span">Following</span>
        </button>
        {{else}}
        <button class="btn btn-outline-danger" id="follow-button">
          <span id="follow-span">Follow</span>
        </button>
        {{/if}}
        {{/if}}
        {{/if}}
        {{#unless diferentUser}}
        <a class="btn btn-outline-danger" id="delete-account" href="/{{userProfile._id}}/delete">
          &#10060; Delete Account</a>
        {{/unless}}
      </div>

      <div class="row d-flex align-items-center">
        <div class="recipe-lines">
          <span><strong>{{userRecipes.length}}</strong> Recipes</span>
        </div>
        <div class="verticalLine"></div>
        <div class="recipe-lines">
          <span><strong>{{userProfile.likedRecipes.length}}</strong> Likes</span>
        </div>
        <div class="verticalLine"></div>
        <div class="recipe-lines">
          <span><strong>{{userProfile.following.length}}</strong> Following</span>
        </div>
      </div>

    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

<div class="user-layout-recipes">

  <div class="col-md-12">
    <div class="row align-items-center">
      <h1 class="col-10">User Recipes</h1>
      <div class="col-2 d-flex justify-content-end">
        <a class="btn btn-outline-info" href="/recipes/{{userProfile.username}}">See All</a>
      </div>
    </div>
    <div class="flex-container">
      {{#each userRecipes}}
      <div class="each-recipe">
        <a href="recipe/{{_id}}">
          <img src="{{image}}">
          <p>{{title}}</p>
        </a>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="col-md-12">
    <div class="row align-items-center">
      <h1 class="col-10">Liked Recipes</h1>
      <div class="col-2 d-flex justify-content-end">
        <a class="btn btn-outline-info" href="/likes/{{userProfile.username}}">See All</a>
      </div>
    </div>
    <div class="flex-container">
      {{#each userProfile.likedRecipes}}
      <div class="each-recipe">
        <a href="recipe/{{this._id}}">
          <img src="{{this.image}}">
          <p>{{this.title}}</p>
        </a>
      </div>
      {{/each}}
    </div>
  </div>


  <div class="col-md-12">
    <div class="row align-items-center">
      <h1 class="col-10">Following</h1>
      <div class="col-2 d-flex justify-content-end">
        <a class="btn btn-outline-info" href="/following/{{userProfile.username}}">See All</a>
      </div>
    </div>
    <div class="flex-container">
      {{#each userProfile.following}}
      <div class="each-recipe">
        <a href="/{{username}}">
          <img src="{{photo}}">
          <p>{{username}}</p>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
</div>

{{/if}}

<script>
  let followButton = document.getElementById('follow-button');
  let followspan = document.getElementById('follow-span');
  let deleteAccount = document.getElementById("delete-account");

  // Follow Button
  if (followButton) {
    followButton.onclick = event => {
      axios.post("/follow/{{userProfile._id}}").then(response => {
        if (response.data) {
          followspan.innerHTML = "Following";
          followButton.setAttribute("class", "btn btn-danger");
        } else {
          followspan.innerHTML = "Follow";
          followButton.setAttribute("class", "btn btn-outline-danger");
          return;
        }
      }).catch(err => {
        console.log(err);
      })
    }
  }

  // Delete account button
  if (deleteAccount) {
    deleteAccount.onclick = () => {
      alert("Comfirm to delete this account.")
    }
  }

</script>