<div class="subpage-header">
  <h1 class="subpage-title">Create Recipe</h1>
</div>


<form action="/recipe/create" method="POST" enctype="multipart/form-data">

  <div class="container-fluid recipe-layout-container">
    <div class="recipe-layout-top row">
      <div class="recipe-img-container col-md-5">
        <input id="image" type="file" name="imagePath">
        {{#if recipe}}<img src="{{recipe.image}}" alt="">{{/if}}
      </div>

      <div class="recipe-layout-right col-md-7">

        <div class="form-row">

          <div>
            {{#if message}}
            <p class="warning-msg"> *{{message}}</p>
            <br>
            {{/if}}
          </div>

          <div class="form-group col-12">
            <label for="title">Recipe Title: *</label>
            <input class="form-control" type="text" name="title" placeholder="Title of Recipe"
              {{#if recipe}}value={{recipe.title}}{{/if}}>
          </div>


          <div class="form-group col-md-5">
            <label>Dish Type: *</label>
            <select class="form-control" id="dish-type-selector" name="dishType"
              {{#if recipe}}value="{{recipe.dishType}}{{/if}}">
              <option value="">choose Dish Type</option>
              <option value="Mains">Mains</option>
              <option value="Breakfast">Breakfast</option>
              <option value="Snacks">Snacks</option>
              <option value="Dessert">Dessert</option>
              <option value="Drinks">Drinks</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <div>
              <label>Preparetion time: *</label>
            </div>

            <div class="row">
              <div class="col-8">
                <input class="form-control" type="number" name="preparationTime"
                  {{#if recipe}}value={{recipe.preparationTime}}{{/if}}>
              </div>
              <span id="min">min</span>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label for="portions">Portion(s) *:</label>
            <input class="form-control" type="number" name="portions" {{#if recipe}}value={{recipe.portions}}{{/if}}>
          </div>

          <div class="form-group col-12">
            <label for="source">Source / Additional Info: </label>
            <textarea class="form-control" name="source" maxlength="200">{{#if recipe}}{{recipe.source}}
              {{/if}}</textarea>
            <p id="source-note">
              If you are not the original author of this recipe , enter the original author's name or source here to
              give
              them credit
            </p>
          </div>

          <div class="col-3">

          </div>

          <div class="form-group col-8">
            <div>
              <label for="creator">Creator: </label>

            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>


    <div class="form-row recipe-layout-bottom">
      <div class="col-md-6">
        <div class="form-row">
          <h3 class="col-12">Ingredients: *</h3>

          <div id="ingredient-box-parent" class="form-group col-5">
            <input class="form-control" type="text" name="name" placeholder="e.g. Apple">
          </div>

          <div id="qty-box-parent" class="form-group col-2">
            <input class="form-control" type="number" name="qty" placeholder="qty">
          </div>

          <div id="unit-box-parent" class="form-group col-3">
            <select name="unit" class="form-control unit-selector">
              <option value="">unit</option>
              <option value="">N/A</option>
              <option value="gram">gram</option>
              <option value="ml">ml</option>
              <option value="teaspoon">teaspoon</option>
              <option value="tablespoon">tablespoon</option>
            </select>
          </div>

          <div id="add&del-btn" class="form-group col-1">
            <button id="add-ingredient-btn" type="button">&#43</button>
          </div>
        </div>
      </div>

      <div id="method" class="col-md-6">
        <h3>Method: *</h3>
        <textarea class="form-control" name="method" rows="10"
          placeholder='Use <<enter>> to seperate each steps. &#10;No need to use number or bullet points. &#10;&#10;format example: &#10;Preheat the oven to 200°C/400°F/gas 6. &#10;Peel and chop all the potatoes into rough 2cm chunks.'>{{#if recipe}}{{#each recipe.method}}{{this}}&#10;{{/each}}{{/if}}
            </textarea>


      </div>

    </div>
  </div>

  <br>
  <br>
  <div class="form-row d-flex justify-content-center">
    <div class="rol">
      <button class="btn btn-success">Submit</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</form>