<div class="recipe-detail-header">
  {{!-- for header img --}}
</div>


<div class="container-fluid recipe-layout-container">

  <div class="recipe-layout-top row">

    <div class="recipe-img-container col-md-5 recipe-img-container-detail">
      <img src="{{recipe.image}}" alt="recipe-image" class="recipe-img">
    </div>

    <div class="recipe-layout col-md-7">

      <div class="row align-items-center justify-content-between recipe-title">
        <h1>{{recipe.title}}</h1>
        {{#if isSameUser}}
        <div>
          <a class="btn btn-outline-info" href="/recipe/{{recipe._id}}/edit"> &#9998; Edit Recipe</a>
          <a id="del-recipe-btn" class="btn btn-outline-danger" href="/recipe/{{recipe._id}}/delete"> &#10060; Delete
            Recipe</a>
        </div>
        {{/if}}
      </div>

      <div class="row d-flex align-items-center mb-5">
        <div class="recipe-lines">
          <span class="dish-tag-1">{{recipe.dishType}}</span>
        </div>
        <div class="verticalLine"></div>
        <div class="recipe-line">
          <span>cooks in &nbsp;&nbsp; <strong>{{recipe.preparationTime}} min</strong></span>
        </div>
        <div class="verticalLine"></div>
        <div class="recipe-line">
          <span>&nbsp;&nbsp; serves &nbsp;<strong>{{recipe.portions}}</strong></span>
        </div>
      </div>

      {{!-- Source --}}
      {{#if isSourceFilled}}
      <div class="row">
        <h6 class="strong">Source / Additional info: </h6>
      </div>
      <div class="row">
        <p>{{recipe.source}}</p>
      </div>
      {{/if}}




      <div class="row mt-4">
        <h6 class="strong">Creator:</h6>
      </div>
      <div class="row mb-5">
        <a href="/{{recipe.creator.username}}" style="text-decoration: none; color:black; font-weight: bold;">
          <img class="comment-user-img" src="{{recipe.creator.photo}}">
          {{recipe.creator.username}}</a>
        </a>
      </div>


      {{#if loggedIn}}
      {{#unless isSameUser}}
      {{#if isLiking}}
      <div class="row">
        <h5 id="likes">{{recipe.likes}} Likes</h5>
      </div>
      <div class="row">
        <button class="btn btn-danger" id="like-button" title="Like and save the recipe">
          <span id="like-span">&#9829; Like</span>
        </button>
      </div>
      {{else}}
      <div class="row">
        <h5 id="likes">{{recipe.likes}} Likes</h5>
      </div>
      <div class="row">
        <button class="btn btn-outline-danger" id="like-button" title="Like and save the recipe">
          <span id="like-span">&#9829; Like</span>
        </button>
      </div>
      {{/if}}
      {{/unless}}
      {{/if}}

    </div>
  </div>




  <div class="form-row recipe-layout-bottom">
    <div class="col-md-4 mt-5 mb-5">

      <h3>Ingredients: </h3>

      <ul>
        {{#each recipe.ingredients}}
        <div class="mt-3 mb-3">
          <li>{{this.qty}} <span>{{this.unit}}</span> <span>{{this.name}}</span></li>
        </div>
        {{/each}}

      </ul>

    </div>

    <div id="method" class="container col-md-8 mt-5 mb-5">
      <h3>Method:</h3>

      <ol>

        {{#each recipe.method}}
        <div class="mt-4 mb-4">
          <li>{{this}}</li>
        </div>
        {{/each}}

      </ol>

    </div>

    {{#if loggedIn}}
    <div class="col-md-4">
      {{!-- for spacing --}}
    </div>
    <div class="col-md-8 mt-5" id="comment-textarea-container">

      <textarea name="comment" id="comment" placeholder="Text here..."></textarea>
      <p class="warning-msg"></p>
      <div class="d-flex justify-content-end">
        <form id="comment-form">
          <button class="btn btn-outline-danger">add comment</button>
        </form>
      </div>

    </div>
    <div class="col-md-4">
      {{!-- for spacing --}}
    </div>
    <div class="col-md-8" id="comment-box">
      {{#if reversedComments}}
      {{#each reversedComments}}
      <div class="each-comment-box m-3">
        <div>
          <img class="comment-user-img" src="{{author.photo}}" alt="">
        </div>
        <div class="ml-2">
          <a href="/{{author.username}}">{{author.username}}</a>
          <p>{{content}}</p>
        </div>
      </div>

      {{/each}}
      {{/if}}
    </div>
    {{/if}}


  </div>
</div>


<script>
  // Like Button
  let likeButton = document.getElementById('like-button');
  let likes = document.getElementById('likes');

  if (likeButton) {
    likeButton.onclick = () => {
      axios.post("/recipe/like/{{recipe._id}}").then(response => {
        if (response.data.isLiking) {
          likeButton.setAttribute("class", "btn btn-outline-danger");
          likes.innerHTML = `<strong>${response.data.recipe.likes}</strong>` + " Likes";
        } else {
          likeButton.setAttribute("class", "btn btn-danger");
          likes.innerHTML = `<strong>${response.data.recipe.likes}</strong>` + " Likes";
        }
      }).catch(err => {
        console.log(err);
      })
    }
  }

  // delete recipe
  let deleteRecipe = document.getElementById("del-recipe-btn")
  if (deleteRecipe) {
    deleteRecipe.onclick = event => {
      alert("delete this recipe.")
    }
  }

  //comment
  let comment = document.getElementById('comment-form')
  if (comment) {
    comment.onclick = event => {
      event.preventDefault();
      if (document.getElementById('comment').value !== "") {
        axios.post("/recipe/{{recipe._id}}/comment", {
          comment: document.getElementById('comment').value
        }).then(response => {
          let commentContent = '';
          response.data.forEach(comment => {
            commentContent += `
            <div class="each-comment-box m-3">
              <div>
                <img class="comment-user-img" src="${comment.author.photo}" alt="">
              </div>
              <div class="ml-2">
                <a href="/${comment.author.username}">${comment.author.username}</a>
                <p>${comment.content}<p>
              </div>
            </div>`

          })
          document.getElementById("comment-box").innerHTML = commentContent;
          document.getElementById('comment').value = ""
        }).catch(err => {
          console.log(err)
        })
      }
    }
  }

</script>