<div class="recipe-details-header">
  {{!-- for header img --}}
</div>


<div class="container-fluid recipe-layout-container">

  <div class="recipe-layout-top row">
    <div class="col-12 d-flex justify-content-end" id="edit-del-btn-container">
      <a class="btn btn-outline-info" href="/recipe/edit"> &#9998; Edit Recipe</a>
      <a class="btn btn-outline-danger" id="del-recipe-btn" href="/recipe/delete"> &#10060; Delete Recipe</a>
    </div>


    <div class="recipe-img-container col-md-5">
      <img src="{{recipe.image}}" alt="recipe-image" class="recipe-img">
    </div>

    <div class="recipe-layout-right col-md-7">

      <div class="row">

        <div class="col-12">
          <h1>{{recipe.title}}</h1>
        </div>

        <div class="recipe-lines col-lg-3">
          <span id="dish-tag-1">{{recipe.dishType}}</span>
        </div>

        <div class="recipe-lines col-lg-5">
          <div class="d-inline">
            <span id="dish-tag-2">cooks in &nbsp;&nbsp; {{recipe.preparationTime}} min</span>
          </div>
        </div>

        <div class="recipe-lines col-lg-4">
          <span id="dish-tag-3">serves &nbsp;&nbsp; {{recipe.portions}}</span>
        </div>

        {{#if recipe.ingredients}}
        <div class="recipe-lines col-12">

          <h6 id="source">Source / Additional info: </h6>
          <p>{{recipe.source}}</p>
        </div>
        {{/if}}

        <div class="recipe-lines col-12">
          <h6 id="creator">Creator:</h6>
          <span>{{recipe.creator.username}}</span><button class="follow-btn-off" title="Follow this user">&#43;
            Follow</button>
        </div>

        <div class="recipe-lines col-12">
          <button class="like-btn-off" title="Like and save the recipe">&#9829; Like</button>
        </div>

      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <br>

  <div class="form-row recipe-layout-bottom">
    <div class="col-md-6">

      <h3>Ingredients: </h3>

      <ul>
        {{#each recipe.ingredients}}
        <li>{{this.name}} <span> {{this.qty}}</span> <span>{{this.unit}}</span></li>
        {{/each}}
      </ul>

    </div>

    <div id="method" class="col-md-6">
      <h3>Method:</h3>

      <ol>
        {{#each recipe.method}}
        <li>{{this}}</li>
        {{/each}}
      </ol>

    </div>

  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>