<div class="recipe-details-header">
  {{!-- for header img --}}
</div>


<div class="container-fluid recipe-layout-container">

  <div class="recipe-layout-top row">
    <div class="col-12 d-flex justify-content-end" id="edit-del-btn-container">
      {{#if isSameUser}}
      <a class="btn btn-outline-info" href="/recipe/{{recipe._id}}/edit"> &#9998; Edit Recipe</a>
      <a id="del-recipe-btn" class="btn btn-outline-danger" href="/recipe/{{recipe._id}}/delete"> &#10060; Delete
        Recipe</a>
      {{/if}}
    </div>


    <div class="recipe-img-container col-md-5">
      <img src="{{recipe.image}}" alt="recipe-image" class="recipe-img">
    </div>

    <div class="recipe-layout-right col-md-7">

      <div class="row">

        <div class="col-12">
          <h1>{{recipe.title}}</h1>
        </div>

        <div class="recipe-lines col-lg-3">
          <span id="dish-tag-1">{{recipe.dishType}}</span>
        </div>

        <div class="recipe-lines col-lg-4">
          <div class="d-inline">
            <span id="dish-tag-2">cooks in &nbsp;&nbsp; {{recipe.preparationTime}} min</span>
          </div>
        </div>

        <div class="recipe-lines col-lg-4">
          <span id="dish-tag-3">serves &nbsp;&nbsp; {{recipe.portions}}</span>
        </div>

        {{#if isSourceFilled}}
        <div class="recipe-lines col-12">

          <h6 id="source">Source / Additional info: </h6>
          <p>{{recipe.source}}</p>
        </div>
        {{/if}}



        <div class="recipe-lines col-12">
          <h6 id="creator">Creator:</h6>

          <a href="/{{recipe.creator.username}}">
            <h4>{{recipe.creator.username}}</h4>
          </a>

        </div>



        {{#if loggedIn}}
        {{#unless isSameUser}}
        {{#if isLiking}}
        <div class="recipe-lines col-12">
          <button class="like-btn-off" like="true" id="like-button" title="Like and save the recipe">
            <span id="like-span">&#9829; Like</span>
          </button>
          <h4 id="likes">{{recipe.likes}}</h4>
        </div>
        {{else}}
        <div class="recipe-lines col-12">
          <button class="like-btn-off" like="false" id="like-button" title="Like and save the recipe">
            <span id="like-span">&#9829; Like</span>
          </button>
          <h4 id="likes">{{recipe.likes}}</h4>
        </div>
        {{/if}}
        {{/unless}}
        {{/if}}

      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <br>

  <div class="form-row recipe-layout-bottom">
    <div class="col-md-4">

      <h3>Ingredients: </h3>

      <ul>
        {{#each recipe.ingredients}}
        <li>{{this.name}} <span> {{this.qty}}</span> <span>{{this.unit}}</span></li>
        {{/each}}
      </ul>

    </div>

    <div id="method" class="col-md-8">
      <h3>Method:</h3>

      <ol>
        {{#each recipe.method}}
        <li>{{this}}</li>
        {{/each}}
      </ol>

    </div>

    {{#if loggedIn}}
    <div class="col-md-4">
      {{!-- for spacing --}}
    </div>
    <div class="col-md-8" id="container">
      <form id="comment-form">
        <label for="comment">Add a comment</label>
        <input type="text" id="comment">
        {{!-- <textarea name="comment" id="comment" cols="50" rows="5"></textarea>
        <button id="add-comment">Add Comment</button> --}}
      </form>

    </div>
    <div class="col-md-4">
      {{!-- for spacing --}}
    </div>
    <div class="col-md-8" id="comment-box">
      {{#if recipe.comments}}
      <h2>Comments</h2>
      {{/if}}
      {{#each recipe.comments}}
      <h4>{{author.username}}</h4>
      <p>{{content}}</p>
      {{/each}}
    </div>
    {{/if}}


  </div>
</div>


<script>
  // Like Button
  let likeButton = document.getElementById('like-button');
  let likes = document.getElementById('likes');

  if (likeButton) {
    likeButton.onclick = () => {
      axios.post("/recipe/like/{{recipe._id}}").then(response => {
        if (response.data.isLiking) {
          likeButton.setAttribute("like", "false");
          likes.innerHTML = response.data.recipe.likes;
        } else {
          likeButton.setAttribute("like", "true");
          likes.innerHTML = response.data.recipe.likes;
        }
      }).catch(err => {
        console.log(err);
      })
    }
  }

  // delete recipe
  let deleteRecipe = document.getElementById("del-recipe-btn")
  if (deleteRecipe) {
    deleteRecipe.onclick = event => {
      alert("Comfirm to delete this recipe?")
    }
  }

  //comment
  let comment = document.getElementById('comment-form')
  if (comment) {
    comment.onsubmit = event => {
      event.preventDefault();
      axios.post("/recipe/{{recipe._id}}/comment", {
        comment: document.getElementById('comment').value
      }).then(response => {
        let commentContent = '<h2>Comments</h2>';
        response.data.forEach(comment => {
          commentContent += `
          <div class="comment-container">
            <div>
              <img class="user-img" src="${comment.author.photo}" alt="">
              <a href="/${comment.author.username}">${comment.author.username}</a>
            </div>
            <p>${comment.content}<p>
          </div>`

        })
        document.getElementById("comment-box").innerHTML = commentContent;
        document.getElementById('comment').value = ""
      }).catch(err => {
        console.log(err)
      })
    }
  }

</script>