<div class="recipe-detail-header">
  {{!-- for header img --}}
</div>


<div class="container-fluid recipe-layout-container">
  {{#if isSameUser}}
  <div style="display:flex; justify-content:flex-end;">
    <a class="btn btn-outline-info" href="/recipe/{{recipe._id}}/edit"> &#9998; Edit Recipe</a>
    {{!-- <a id="del-recipe-btn" class="btn btn-outline-danger" href="/recipe/{{recipe._id}}/delete"> &#10060; Delete
      Recipe</a> --}}
  </div>
  {{/if}}

  <div class="recipe-layout-top row">

    <div class="recipe-img-container col-md-5 recipe-img-container-detail">
      <img src="{{recipe.image}}" alt="recipe-image" class="recipe-img">
    </div>

    <div class="recipe-layout col-md-7">

      <div class="row align-items-center justify-content-between recipe-title">
        <h1>{{recipe.title}}</h1>
      </div>

      <div class="row d-flex align-items-center mb-5">
        <div class="recipe-lines">
          <span class="dish-tag-1">{{recipe.dishType}}</span>
        </div>
        <div class="verticalLine"></div>
        <div class="recipe-line">
          <span>cooks in &nbsp;&nbsp; <strong>{{recipe.preparationTime}} min</strong></span>
        </div>
        <div class="verticalLine"></div>
        <div class="recipe-line">
          <span>&nbsp;serves &nbsp;<strong>{{recipe.portions}}</strong></span>
        </div>
      </div>

      {{!-- Source --}}
      {{#if isSourceFilled}}
      <div class="row">
        <h6 class="strong">Source / Additional info: </h6>
      </div>
      <div class="row">
        <p>{{recipe.source}}</p>
      </div>
      {{/if}}

      <div class="row my-5">
        <div class="col-6 p-0">
          <h6 class="strong">Creator:</h6>
          <a href="/{{recipe.creator.username}}" style="text-decoration: none; color:black; font-weight: bold;">
            <img class="comment-user-img" src="{{recipe.creator.photo}}">
            {{recipe.creator.username}}</a>
          </a>
        </div>

        <div class="col-6">

          {{#if loggedIn}}
          {{#if isSameUser}}
          <div class="row pt-4">
            <h5 id="likes"><span style="color:#DC3545">&#9829; </span>{{recipe.likes}} Likes</h5>
          </div>
          {{/if}}
          {{#unless isSameUser}}
          {{#if isLiking}}
          <div class="row">
            <h6 id="likes"><strong>{{recipe.likes}}</strong> Likes</h6>
          </div>
          <div class="row">
            <button class="btn btn-danger" id="like-button" title="Like and save the recipe">
              <span id="like-span">&#9829; Like</span>
            </button>
          </div>
          {{else}}
          <div class="row">
            <h6 id="likes"><strong>{{recipe.likes}}</strong> Likes</h5>
          </div>

          <div class="row">
            <button class="btn btn-outline-danger" id="like-button" title="Like and save the recipe">
              <span id="like-span">&#9829; Like</span>
            </button>
          </div>
          {{/if}}
          {{/unless}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>




  <div class="form-row recipe-layout-bottom">
    <div class="col-md-4 my-5">

      <h3>Ingredients: </h3>

      <ul>
        {{#each recipe.ingredients}}
        <div class="my-3" id="ingredient-display">
          <li>{{this.qty}} <span>{{this.unit}}</span> <span>{{this.name}}</span></li>
        </div>
        {{/each}}

      </ul>

    </div>

    <div id="method" class="container col-md-8 my-5">
      <h3>Method:</h3>

      <ol>

        {{#each recipe.method}}
        <div class="my-4">
          <li>{{this}}</li>
        </div>
        {{/each}}

      </ol>

    </div>

    {{#if loggedIn}}
    <div class="col-md-4">
      {{!-- for spacing --}}
    </div>
    <div class="col-md-8 mt-5" id="comment-textarea-container">

      <textarea name="comment" id="comment" placeholder="Text here..."></textarea>
      <p class="warning-msg"></p>

      <div class="d-flex justify-content-end" id="comment-btn">
        <button class="btn btn-outline-danger">add comment</button>
      </div>

    </div>
    <div class="col-md-4">
      {{!-- for spacing --}}
    </div>
    <div class="col-md-8" id="comment-box">
      {{#if reversedComments}}
      {{#each reversedComments}}
      <div class="each-comment-box m-3">
        <div>
          <img class="comment-user-img" src="{{author.photo}}" alt="">
        </div>
        <div class="ml-2">
          <a href="/{{author.username}}">{{author.username}}</a>

          {{#if isSameCommentAuthor}}
          <button class="del-comment-btn" onclick="deleteComment('{{_id}}','{{../recipe._id}}')"><i class="fa fa-trash"
              aria-hidden="true"></i></button>
          {{/if}}
          <p>{{content}}</p>
          {{!-- {{#each content}}
          <p class="mt-0">{{this}}</p>
          {{/each}} --}}
        </div>
      </div>

      {{/each}}
      {{/if}}
    </div>
    {{/if}}

  </div>
</div>



<script>
  // Like Button
  let likeButton = document.getElementById('like-button');
  let likes = document.getElementById('likes');

  if (likeButton) {
    likeButton.onclick = () => {
      axios.post("/recipe/like/{{recipe._id}}").then(response => {
        if (response.data.isLiking) {
          likeButton.setAttribute("class", "btn btn-outline-danger");
          likes.innerHTML = `<strong>${response.data.recipe.likes}</strong>` + " Likes";
        } else {
          likeButton.setAttribute("class", "btn btn-danger");
          likes.innerHTML = `<strong>${response.data.recipe.likes}</strong>` + " Likes";
        }
      }).catch(err => {
        console.log(err);
      })
    }
  }

  // delete recipe
  let deleteRecipe = document.getElementById("del-recipe-btn")
  if (deleteRecipe) {
    deleteRecipe.onclick = event => {
      alert("delete this recipe.")
    }
  }

  //comment
  let commentBtn = document.getElementById('comment-btn')
  if (commentBtn) {
    commentBtn.onclick = event => {
      let commentInput = document.getElementById('comment').value.trim(" ");
      if (commentInput) {
        axios.post("/recipe/{{recipe._id}}/comment", {
          comment: commentInput
        }).then(response => {

          let commentContent = '';
          let recipeId = response.data._id;
          let commentsArr = response.data.comments;

          commentsArr.forEach(comment => {
            let deleteCommentBtn = ""
            if (comment.isSameCommentAuthor) {
              deleteCommentBtn = `<button class="del-comment-btn" onclick="deleteComment('${comment._id}','${recipeId}')"><i class="fa fa-trash"
              aria-hidden="true"></i></button>`
            }
            commentContent += `
            <div class="each-comment-box m-3">
              <div>
                <img class="comment-user-img" src="${comment.author.photo}" alt="">
              </div>
              <div class="ml-2">
                <a href="/${comment.author.username}">${comment.author.username}</a>
                ${deleteCommentBtn}
                <p>${comment.content}<p>
              </div>
            </div>`

          })
          document.getElementById("comment-box").innerHTML = commentContent;
          document.getElementById('comment').value = ""
        }).catch(err => {
          console.log(err)
        })
      }
    }
  }

  //delete Comment

  deleteComment = (commentId, recipeId) => {

    axios.post(`/recipe/comment/${commentId}/delete`, {
      commentId,
      recipeId
    }).then(response => {
      let commentContent = '';
      let recipeId = response.data._id;
      let commentsArr = response.data.comments;

      commentsArr.forEach(comment => {
        let deleteCommentBtn = ""
        if (comment.isSameCommentAuthor) {
          deleteCommentBtn = `<button class="del-comment-btn" onclick="deleteComment('${comment._id}','${recipeId}')"><i class="fa fa-trash"
              aria-hidden="true"></i></button>`
        }

        commentContent += `
            <div class="each-comment-box m-3">
              <div>
                <img class="comment-user-img" src="${comment.author.photo}" alt="">
              </div>
              <div class="ml-2">
                <a href="/${comment.author.username}">${comment.author.username}</a>
                ${deleteCommentBtn}
                <p>${comment.content}<p>
              </div>
            </div>`

      })
      document.getElementById("comment-box").innerHTML = commentContent;
      document.getElementById('comment').value = ""
    }).catch(err => {
      console.log(err)
    })

  }



</script>